body {
  background-color: #dcdcdc;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  font-size: 1.25em;
}

/* HEADER/FOOTER */
header, footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}
h1 {
  font-size: 2.5em;
}

/* FORM ELEMENTS */
input {
  padding: .5em;
  width: 175px;
  background: #FCFCFC;
  border: 1px solid black;
}
#add-employee-button {
  padding: 0px;
  width: 100px;
  height: 32.778px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  /* text-align: left; */
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 2.5em;
  border-color: black;
  border-width: 3px;
}
thead {
  background: #7a7a7a;
  color: #fcfcfc;
}
tbody tr:nth-child(odd){ 
  background: #fcfcfc;
}
tbody tr:nth-child(even){
  background: lightskyblue;
}
td .annual-salary-column {
  text-align: right;
}
td .button-color-column {
  text-align: center;
}
.button-color {
  padding: 10px;
  width: 75px;
  font-size: px;
  border-radius: 5px;
  cursor: pointer;
  
}

.input-layout {
  display: flex;
  justify-content: space-between;
}
.button-layout {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container {
  display: flex;
  justify-content: flex-end;
}
#total-monthly {
  margin-top: 30px;
  padding: 5px;
}